 @model TabimMVCWebUI.Identity.ApplicationUser
@{
    ViewBag.Title = "UnAuthorized";
}
<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            
                @if (User.IsInRole("admin"))
                {
                    <div class="alert alert-warning text-center" role="alert" >
                        <a href="/Admin/ListAdmin">User sayfası için yetkiniz yok. Yetkili alana yönlendirilmek için tıklayın... </a><br />
                        <i class="far fa-sad-tear" ></i>
                    </div>
                    
                }
                @if (User.IsInRole("user"))
                {
                    <div class="alert alert-warning" role="alert" >
                        <a href="/Home">Admin sayfası için yetkiniz yok. Yetkili alana yönlendirilmek için tıklayın... </a><br />
                        <i class="far fa-sad-tear"></i>
                    </div>
                }
                @if (!Request.IsAuthenticated)
                {
                    <div class="alert alert-warning" role="alert" >
                        <a href="/Account/Login">Bu Alan için yetkiniz yok. Lütfen giriş yapınız. </a><br />
                        <i class="far fa-sad-tear" ></i>
                    </div>
                }

        </div>
    </div>
</div>

